body {
  font-family: 'Poppins', sans-serif;
  background-image: url("Camera.jpg");
  background-size: cover;
}

/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#camera {
  background-image: url(Camera.jpg);
  background-size: cover;
  z-index: 0;
  height: 100vh;
  width: 100vw;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}

#shrink {
  transition-delay: 5s;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

#main-header {
  font-size: 50px;
  font-size: 15vw;
  color: #FFF;
  text-shadow: 0px 0px 8px #000;
  font-family: 'Special Elite', cursive;
  padding-top: 100px;
  padding-top: 20vh;
  transition: all 1s;
}

#quote {
  font-family: 'Dancing Script', cursive;
  font-size: 28px;
  font-weight: bold;
  color: #FFF;
  text-shadow: 0px 0px 3px #000;
  padding-bottom: 5vh;
  transition: all 1s;
}

#links {
  opacity: 0;
  transition: all 1s;
}

.page-link {
  text-decoration: none;
  background: none;
  border: none;
  color: #000;
}

.page-link:hover {
  text-decoration: none;
  background: none;
  border: none;
  color: #F00;
}

.page-link img {
    -webkit-filter: brightness(100%);
}

.page-link img:hover {
  -webkit-filter: brightness(70%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.page-link:active {
  text-decoration: none;
  background: none;
  border: none;
  color: #0F0;
}

.page-link:focus {
  text-decoration: none;
  background: none;
  border: none;
  color: #00F;
}
